/* Feuille de Style SCSS */
/* OpenClassrooms projet 3 */
/* Design mobile first */

/* Menu principal */

@font-face {
	font-family: "Shrikhand";						/* Police logo + titres */
	src: url(Shrikhand-Regular.ttf);
}

@font-face {
	font-family: "Roboto";							/* Police textes */					
	src: url(Roboto-Regular.ttf);
}

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$lightgreyshadow: #9f9f9f;
$lightgreybackground: #F6F6F6;

/* Comportements par défaut */

body {
	margin: 0;

	font-family: "Roboto", Arial, sans-serif;
}

a {
	color: #000;

	&:link {
		text-decoration: none;
	}
}

li {
	list-style-type: none;
}

/* Spinner (de chargement de page) */

#spinner {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	height: 100vh;
	width: 100vw;

	background-color: #000000BB;

	animation-name: anim_spinner;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	span {
		padding: 10px;
		border-radius: 15px;
		background-color: #222;
	}

	i {
		color: $primaire;
	}
}

@keyframes anim_spinner {
	0% {
		z-index: 10;
		opacity: 1;
	}

	99% {
		z-index: 10;
		opacity: 1;
	}

	100% {
		opacity: 0;
		z-index: -10;
	}
}

/* Header principal (donc juste le logo) */

.logo_header{
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;					/* Nécessaire pour l'ombre */

	height: 3rem;

	box-shadow: 0 1px 2px $lightgreyshadow;
}

.logo {
	display: inline-block;
		
		h1 {
			margin: 0;

			font-family: "Shrikhand", Arial, sans-serif;
			font-weight: 500;
			font-size: 1.5rem;
		}
}

/* Adresse affichée sous le logo */

#localisation {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 2rem;

	font-size: .85rem;

	background-color: #EAEAEA;

	&_icon {
		margin-right: .5rem;
	}

	&_text {
		margin-left: .5rem;
	}
}

/* Header du main */

#second_header {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: $lightgreybackground;

	padding: 2rem 10% 2rem 10%;
		
		h2, p {
			text-align: center;

			margin: 0 0 1rem 0;
		}

		h2 {
			font-size: 1.4rem
		}

		p {
			color: #646464;
		}
}

/* Bouton rose "Explorer" */

#link_explorer {
	width: 65%;

	#explorer {
		display: flex;
		align-items: center;

		font-size: .8rem;

		height: 2rem;
		padding: .3rem 0;
		margin-top: .8rem;

		background-image: linear-gradient(-195deg, $secondaire, $primaire);
		color: #fff;

		border-radius: 25px;

		transition: opacity 3000ms;

		span {
			margin: auto;
			text-align: center;
		}

		&:hover {
			opacity: 0.8;
			transition: opacity 3000ms;
		}
	}
}

/* Mode d'emploi "Fonctionnement" */

#manual {
	margin-bottom: 2rem;
	padding-left: .35rem;

		h4 {
			font-size: 1.3rem;
			font-weight: bold;

			margin-left: 5%;
		}

		div {
			display: flex;
			align-items: center;

			background-color: $lightgreybackground;
			border-radius: 20px;
			box-shadow: 0px 2px 8px $lightgreyshadow;

			height: 3.5rem;
			width: 90%;

			margin: 0 auto 1rem auto;

			&:hover {
					background-color: #F5EDFF;

					transition: all 500ms ease-in-out;

					.manual_icon {
						color: #9356DC;

						transition: all 500ms ease-in-out;
					}
			}
		}

		.nb {
			display: inline-block;
			text-align: center;

			margin-left: -.7rem;
			padding: .2rem;

			width: 1rem;
			height: 1rem;

			font-size: .9rem;
			color: white;
			background-color: $primaire;
			border-radius: 50%;
		}

		.manual_icon {
			color: #7E7E7E;
			padding: 0 1.5rem 0 1.3rem;
		}

		.manual_text {
			font-size: .85rem;
			font-weight: 600;
		}
}

/* Section sélection du restaurant */

#section_restaurants {
	background-color: $lightgreybackground;

	padding: 1.5rem 3% 2rem 3%;

	h2 {
		font-weight: bold;

		margin-left: 3%
	}

	article {
		background-color: white;

		width: 95%;
		margin: 0 auto 1rem auto;

		border-radius: 25px;
		box-shadow: 1px 2px 5px $lightgreyshadow;

		.img_restau {
			display: flex;

			height: 10rem;

			background-size: cover;
			background-position: bottom;

			border-radius: 25px 25px 0 0;

			.new {
				margin: .8rem .8rem auto auto;
				padding: .25rem .7rem;

				font-size: .85rem;
				color: #008766;
				background-color: $tertiaire;
				border-radius: 2px;
			}
		}

		.info_heart {
			display: flex;

			.info_restau {
				margin: .6rem auto .7rem .7rem;

				h4, p {
					margin: 0;
				}

				h4 {
					font-size: .95rem;
					font-weight: 600;

					margin-bottom: .1rem;
				}

				p {
					font-size: .90rem;
					color: #333;
				}
			}

			.purple_like {
				display: flex;
				justify-content: center;
				align-items: center;

				margin: auto 1rem auto auto;

				i {
					font-size: 1.3rem;
				}

				.fas.fa-heart {
					margin-left: -1.3rem;

					color: transparent;

					background-image: linear-gradient(-195deg, $secondaire, $primaire);
					background-clip: text;
					-webkit-background-clip: text;

					transform: scale(0);
					transition: transform 1s ease-in-out;
				}

				.far.fa-heart {
					opacity: 1;
					transition: opacity;
				}

				&:hover .fas.fa-heart {
					transform: scale(1);

					transition: transform 1s ease-in-out;
				}

				&:hover .far.fa-heart {
					opacity: 0;
					transition: opacity;
					transition-delay: 1s;
				}
			}
		}

	}
}

#la_palette_du_gout {
	.img_restau {
		background-image: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
	}	
}

#la_note_enchantee {
	.img_restau {
		background-image: url(images/stil-u2Lp8tXIcjw-unsplash.jpg)
	}
}

#a_la_francaise {
	.img_restau {
		background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
	}
}

#le_delice_des_sens {
	.img_restau {
		background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
	}
}

/* FOOTER */

footer {
	background-color: #353535;

	padding: 1.5rem 0 1rem 1rem;

	h4 {
		font-family: "Shrikhand", Arial, cursive;
		margin: 0;

		font-weight: 400;
		color: white;
	}

	ul {
		padding: 0;
	}

	li {
		margin-bottom: .2rem;

		.footer_link {
			color: white;

			.icon_footer {
				display: inline-block;
				width: 2rem;

				.fa-hands-helping {
					font-size: .8rem;
				}
			}
		}
	}
}

/* Version Desktop */

@media screen and (min-width: 600px)
{

	/* Marges autour de la page (gauche/droite) */

	.logo_header {
		margin-left: 20%;
		margin-right: 20%;
	}

	main {
		margin-left: 20%;
		margin-right: 20%;
	}

	footer {
		margin-left: 20%;
		margin-right: 20%;
	}

	/* Taille max des boutons "Explorer..." et "Fonctionnement" */

	#link_explorer {
		width: 250px;
	}

	#manual {
		width: 615px;
		margin: auto;
	}

	#manual div {
		width: 400px;
	}

	/* Mise en page section "Restaurants" */

	#section_restaurants {
		display: flex;
		flex-direction: column;

		margin-top: 3rem;
	}

	#restaurants {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#section_restaurants article {
		width: 350px;
	}

	/* Mise en page footer */

	footer {
		text-align: center;
	}
}