/* Feuille de Style CSS */
/* OpenClassrooms projet 3 */
/* Design mobile first */

/* Page "La palette du goût" */



@font-face {
	font-family: "Shrikhand";						/* Police logo + titres */
	src: url(Shrikhand-Regular.ttf);
}

@font-face {
	font-family: "Roboto";							/* Police textes */					
	src: url(Roboto-Regular.ttf);
}

/* Comportements par défaut */

body {
	margin: 0;

	font-family: "Roboto", Arial, sans-serif;
}

a:link {
	text-decoration: none;
}

a {
	color: #000;
}

li {
	list-style-type: none;
}

/* Header de la page (bouton retour + logo) */

#main_header {
	display: flex;
	align-items: center;

	height: 3rem;
}

.back_button {
	margin-left: 1.5rem;
}

#logo {
	margin: 0 auto;

	font-family: "Shrikhand", cursive, sans-serif;
	font-size: .9rem;
}

/* Image d'entête */

/*#img_header {
	width: 100%;
}*/

#img {
	background-image: url('images/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
	background-size: cover;
	height: 12rem;
}

/* Main contenant tous les menus */

main {
	background-color: #F6F6F6;
	border-radius: 25px 25px 0 0;

	margin-top: -1.5rem;
	padding-bottom: 4rem;
}

/* Header du menu */

#menu_header {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

#menu_header h2 {
	font-family: "Shrikhand", cursive, sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
}

#menu_header span {
	display: flex;
	align-items: center;
}

#like i {
	font-size: 1.5rem;
}

.fas.fa-heart {
	margin-left: -1.5rem;

	color: transparent;

	background-image: linear-gradient(-195deg, #FF79DA, #9356DC);
	background-clip: text;
	-webkit-background-clip: text;

	transform: scale(0);
	transition: transform 1s ease-in-out;
}

.far.fa-heart {
	opacity: 1;
	transition: opacity;
}

#like:hover .fas.fa-heart {
	transform: scale(1);

	transition: transform 1s ease-in-out;
}

#like:hover .far.fa-heart {
	opacity: 0;
	transition: opacity;
	transition-delay: 1s;
}


/* Menus des restaurants */

.menu {
	margin-bottom: 2.5rem;
}

.menu  h3 {
	font-size: 1rem;
	font-weight: 100;
	color: #4B4B4B;					/* Gris foncé */

	margin-left: 5%;
	margin-top: .5rem;
	padding-bottom: .2rem;

	width: 2.5rem;
	overflow: visible;
	border-bottom: 2px solid #99E2D0;
}

.desc_menu {
	display: flex;
	flex-direction: row;

	overflow: hidden;

	height: 3rem;
	width: 90%;
	margin: 0 auto .8rem auto;

	border-radius: 10px;
	box-shadow: 0px 2px 8px grey;

	animation-name: anim_menu;
	animation-duration: 1000ms;
	animation-iteration-count: 1;

	transform: translateY(10px);
	opacity: 0;

	animation-fill-mode: forwards;
}
.plat {
	padding: .5rem 0;

	min-width: 80%;
	transition: width 1000ms;

/*	transform: scaleX(100%);
	transition: transform 1s;
	transform-origin: center left;*/
}

.menu h4 {
	margin: 0;
	font-size: .95rem;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu p {
	margin: 0;
	font-size: .75rem;
	color: #4d4d4d;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu h4, .menu p {
	margin-left: .5rem;
}

.prix {
	padding-bottom: .4rem;
	margin-top: auto;

	font-weight: 600;
	color: #454545;
	text-align: center;

	min-width: 20%;

	transform: translateX(0%);
	transition: transform 1000ms ease-in-out;
}

.carre_coche {
	display: flex;
	align-items: center;

	min-width: 20%;
	height: 100%;

	background-color: #99E2D0;

	transform: translateX(0%);
	transition: transform 1000ms ease-in-out;
}

.coche {
	color: white;
	margin: auto;

	transform: rotate(0deg);
	transition: transform 1s;
}

/*.desc_menu:hover .plat {
	transform: scaleX(75%);
	transition: transform 1s;
}*/

.desc_menu:hover .carre_coche, .desc_menu:hover .prix {
	transform: translateX(-100%);
	transition: transform 1000ms ease-in-out;
}

.desc_menu:hover .coche {
	transform: rotate(360deg);
}

@keyframes anim_menu {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

#menu1 .desc_menu:nth-child(2) {
	animation-delay: 300ms;
}

#menu1 .desc_menu:nth-child(3) {
	animation-delay: 700ms;
}

#menu1 .desc_menu:nth-child(4) {
	animation-delay: 1100ms;
}

#menu2 .desc_menu:nth-child(2) {
	animation-delay: 1500ms;
}

#menu2 .desc_menu:nth-child(3) {
	animation-delay: 1900ms;
}

#menu2 .desc_menu:nth-child(4) {
	animation-delay: 2300ms;
}

#menu3 .desc_menu:nth-child(2) {
	animation-delay: 2700ms;
}

#menu3 .desc_menu:nth-child(3) {
	animation-delay: 3100ms;
}

#menu3 .desc_menu:nth-child(4) {
	animation-delay: 3500ms;
}

/* Keyframe spéciale pour "La nite enchantée" (qui a 1 plat en plus) */

#menu1_spe .desc_menu:nth-child(2) {
	animation-delay: 300ms;
}

#menu1_spe .desc_menu:nth-child(3) {
	animation-delay: 700ms;
}

#menu1_spe .desc_menu:nth-child(4) {
	animation-delay: 1100ms;
}

#menu1_spe .desc_menu:nth-child(5) {
	animation-delay: 1500ms;
}

#menu2_spe .desc_menu:nth-child(2) {
	animation-delay: 1900ms;
}

#menu2_spe .desc_menu:nth-child(3) {
	animation-delay: 2300ms;
}

#menu2_spe .desc_menu:nth-child(4) {
	animation-delay: 2700ms;
}

#menu3_spe .desc_menu:nth-child(2) {
	animation-delay: 3100ms;
}

#menu3_spe .desc_menu:nth-child(3) {
	animation-delay: 3500ms;
}

#menu3_spe .desc_menu:nth-child(4) {
	animation-delay: 3900ms;
}

/* Bouton "Commander" */

#commander {
	display: flex;
	align-items: center;

	font-size: .95rem;

	width: 45%;
	height: 2rem;
	padding: .3rem 1rem;
	margin: .8rem auto 0 auto;

	background-image: linear-gradient(-195deg, #FF79DA, #9356DC);
	color: #fff;

	border-radius: 25px;

	transition: all 3000ms;
}

#commander span {
	margin: auto;
}

#commander:hover {
	opacity: 0.8;
	transition: all 3000ms;
}

/* FOOTER */

footer {
	background-color: #353535;

	padding: 1.5rem 0 1rem 1rem;
}

footer h4 {
	font-family: "Shrikhand", Arial, cursive;
	margin: 0;

	font-weight: 400;
	color: white;
}

footer ul {
	padding: 0;
}

.icon_footer {
	display: inline-block;
	width: 2rem;
}

.fa-hands-helping {
	font-size: .8rem;
}

footer li {
	margin-bottom: .2rem;
}

.footer_link {
	color: white;
}